.blurb {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.5rem;
  padding: 1rem 0;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.blurb:not(.blurbActive):hover {
  opacity: 0.7;
}

.blurbActive {
  opacity: 1;
}

.index {
  padding-top: 1.75rem;
}

.blurbBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.title {
  font-size: 3rem;
  color: var(--text-color);
}

@media (max-width: 59.5rem) {
  .title {
    font-size: 2rem;
  }
}
