.footer {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
}

.starmapBackdrop {
  bottom: 0;
  isolation: isolate;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.footerForeground {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.hr {
  height: 1px;
  width: 100vw;
}

.hrLine {
  stroke-width: 2;
  stroke: var(--theme-color);
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
  place-items: center;
  background-color: rgba(245, 242, 237, 0.5);
}

.footerContent svg {
  max-height: 8.25rem;
  width: auto;
}

.footerContentSocials {
  display: flex;
  flex: 1;
  gap: 4rem;
}

.footerText {
  font-style: italic;
  font-weight: 600;
  text-align: right;
}

@media (max-width: 59.5rem) {
  .footerContentSocials {
    flex-direction: column;
    gap: 2rem;
  }
}
