.section {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.scrollArea {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4rem;
  padding-bottom: 0;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: var(--max-width-desktop);
}

.heading {
  font-size: 2rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  white-space: pre-line;
}
