.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem 0;
  width: 100%;
}

.divider {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
  padding: 0 4rem 1rem;
  width: 100%;

  hr {
    flex: 1;
    border: none;
    border-top: 1px solid var(--theme-color);
  }

  h6 {
    color: var(--theme-color);
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 8rem;
  max-width: var(--max-width-desktop);
  padding-bottom: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  gap: 0.75rem;
}

.desc {
  grid-area: desc;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desc ul {
  list-style: none;
}

.desc li {
  padding: 0.5rem 0;
  border-top: 1px solid var(--theme-color-25);
}

.desc li:last-child {
  border-bottom: 1px solid var(--theme-color-25);
}

.desc li p:first-child {
  color: var(--theme-color-48);
  text-align: right;
  margin-bottom: 0.5rem;
}

@media (max-width: 59.5rem) {
  .inner {
    gap: 1rem;
    padding: 2rem;
  }

  .desc ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .desc li {
    padding: 0.5rem 1rem;
    border: none;
    border-left: 1px solid var(--theme-color-25);
  }

  .desc li:last-child {
    border-bottom: none;
  }

  .desc li p:first-child {
    text-align: left;
  }
}
