:root {
  --background: rgba(245, 242, 237, 1);

  --theme-color: rgba(122, 28, 28, 1);
  --theme-color-25: rgba(122, 28, 28, 0.25);
  --theme-color-48: rgba(122, 28, 28, 0.48);
  --theme-color-48-solid: rgba(186, 139, 137, 1);
  --theme-color-72: rgba(122, 28, 28, 0.72);
  --text-color: rgba(58, 47, 42, 1);
  --text-color-60: rgba(58, 47, 42, 0.6);

  /* 
    padding + logo + gap + socials + padding = porfolio width
    (4rem + 31rem + 2rem + 17.5rem + 4rem) = 936px = 58.5rem

    this is only here as a reference since variables in @media queries can be unreliable
  */
  --max-width: 58.5rem;
  --max-width-desktop: 90rem; /* 1440px */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

html,
body,
main {
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  color: var(--text-color);
  background: var(--background);
  font-family: var(--font-noto-serif);
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dm-serif-display);
  font-weight: 400;
  color: var(--theme-color);
}

h2 {
  font-size: 4rem;
  line-height: 3rem;
}

h6 {
  font-family: var(--font-open-sans);
  font-size: 0.75rem;
}

.subtitle {
  font-family: var(--font-open-sans);
  font-size: 0.75rem;
  color: var(--theme-color);
}

a {
  color: var(--theme-color);
  text-decoration: underline dotted;
  text-underline-offset: 0.25rem;
}

@media (max-width: 58.5rem) {
  h2 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
}
