.master {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.panelWrap {
  height: 100%;
  width: 100%;
  will-change: transform;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
