.body {
  display: grid;
  grid-template-columns: 45fr 55fr;
  grid-template-areas: "content media";
  gap: 2rem;
}

.media {
  grid-area: media;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "main main"
    "rdt buttons"
    "stepper buttons";
  gap: 1rem;
}

.mainImg,
.rdt,
.buttons,
.stepper {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.mainImg {
  grid-area: main;
}

.rdt {
  grid-area: rdt;
}

.buttons {
  display: block;
  grid-area: buttons;
}

.stepper {
  grid-area: stepper;
  padding-top: 0.625rem;
}

.desc1 {
  grid-area: desc1;
}

.desc2 {
  grid-area: desc2;
}

.desc3 {
  grid-area: desc3;
}

.details {
  grid-area: details;
}

@media (max-width: 59.5rem) {
  .body {
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      "main main"
      "desc1 desc1"
      "desc2 desc2"
      "rdt buttons"
      "stepper buttons"
      "desc3 desc3"
      "details details";
  }

  .media,
  .content,
  .desc {
    display: contents;
  }
}
