* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141852;
  background: linear-gradient(
    0deg,
    #855988,
    #785185,
    #6b4982,
    #5f417e,
    #523a79,
    #433375,
    #332d70,
    #262667,
    #1c1f5d,
    #141852
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
