* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: white;
  font-family: "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 10em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2;
}

svg {
  z-index: 1;
}
