.divider {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 4rem 2rem;
  width: 100%;

  hr {
    flex: 1;
    border: none;
    border-top: 1px solid var(--theme-color);
  }

  h6 {
    font-size: 0.75rem;
    font-weight: 400;
  }
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8rem;
  justify-content: space-between;
  max-width: var(--max-width-desktop);
}

.header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  gap: 0.75rem;
}

.heading {
  color: var(--text-color);
}

.desc {
  grid-area: desc;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.desc ul {
  list-style: none;
}

.desc li {
  padding: 0.5rem 0;
  border-top: 1px solid var(--theme-color-25);
}

.desc li:last-child {
  border-bottom: 1px solid var(--theme-color-25);
}

.desc li p:first-child {
  color: var(--theme-color-48);
  text-align: right;
  margin-bottom: 0.5rem;
}
